.palco {
  width: 400px;
  height: 400px;
  background-color: black;
  border: 4px solid white;
  position: relative;
  margin: 40px auto;
}

.bolinha {
  width: 30px;
  height: 30px;
  background-color: pink;
  border-radius: 50%;
  position: relative;
  top: 0;
  left: 0; 

  animation: moverVertical 2s infinite alternate;
}

@keyframes moverVertical {
  0% {
    top: 0;
  }
  100% {
    top: 370px; 
  }
}





























































































.sistema {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 30px;
    background-color: aliceblue;
}

.sol {
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: orange;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.orbita {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 200px;
    height: 200px;
    border: 1px solid grey;
    border-radius: 50%;
    animation: orbitar 5s linear infinite;
}

.planeta {
    position: absolute;
    top: -12px;
    left: 88px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: royalblue;
}

.sistema:hover .orbita {
    animation-play-state: paused;
}

@keyframes orbitar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}